name: test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        php-version: ['5.6', '7.0']

    name: PHP ${{ matrix.php-version }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup PHP ${{ matrix.php-version }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        coverage: none

    - name: Install dependencies
      run: composer install --no-interaction --prefer-source --dev

    - name: Run parallel-lint
      run: ./vendor/bin/parallel-lint -e php,phpt --exclude vendor .

    - name: Tester environment
      run: ./vendor/bin/tester -c ./tests/php-tests.ini ./tests/KdybyTests/ --info

    - name: Run tests
      run: ./vendor/bin/tester -c ./tests/php-tests.ini -o junit ./tests/KdybyTests/ > ./test-results.xml

    - name: Display test failures
      if: failure()
      run: for i in $(find ./tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done

    - name: Publish test results
      uses: dorny/test-reporter@v2.5.0
      if: always()
      with:
        name: Test Results (PHP ${{ matrix.php-version }})
        path: ./test-results.xml
        reporter: tester-junit
