{*
 * This file is part of the Kdyby (http://www.kdyby.org)
 *
 * Copyright (c) 2008 Filip Procházka (filip@prochazka.su)
 *
 * For the full copyright and license information, please view the file license.md that was distributed with this source code.
 *}
{layout none}


{define form}
{form $form}
{include errors}
{include body}
{/form}
{/define}
{define errors}

<div n:foreach="$renderer->findErrors() as $error" class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>{$error}
</div>
{/define}
{define body}
{* controls with group *}
{foreach $renderer->findGroups() as $group}{include group, group: $group}{/foreach}

{* controls without group *}
{include controls, controls: $renderer->findControls()}
{/define}
{define group}

    {var $fieldset = (clone $group->attrs)->setName('fieldset')}
    {$fieldset->startTag()|noescape}
        <legend n:if="$group->label">{$group->label}</legend>
        <p n:if="$group->description">{$group->description}</p>

        {var $controls = $group->controls}
        {if isset($group->template) && $group->template}
            {include $group->template, group: $group, controls: $controls, form: $form}

        {else}
            {include controls, controls: $controls}

        {/if}
    {$fieldset->endTag()|noescape}
{/define}
{define controls}
            {foreach $controls as $controlItem}
            {if $renderer->isSubmitButton($controlItem)}
                {if $iterator->first}{='<div class="form-actions">'|noescape}{/if}
                {input $renderer->getControlName($controlItem)}
                {if !$renderer->isSubmitButton($iterator->nextValue)}{="</div>"|noescape}{/if}
                {continueIf true}
            {/if}
			{var $attrs = ['input' => [], 'label' => []]}

            {include control, controlItem: $controlItem, attrs: $attrs}

            {if $renderer->isSubmitButton($iterator->nextValue)}{='<div class="form-actions">'|noescape}{/if}
            {/foreach}
{/define}
{define control}
            {var $controlItem = $controlItem ?? $control}
            {var $pairContainer = $controlItem->getOption('pairContainer')}
            {if $pairContainer}{$pairContainer->startTag()|noescape}{/if}
                {var
                    $name = $renderer->getControlName($controlItem),
                    $description = $renderer->getControlDescription($controlItem),
                    $error = $renderer->getControlError($controlItem)
                }

                {if $controlTemplate = $renderer->getControlTemplate($controlItem)}
                    {include $controlTemplate, name: $name, description: $description, error: $error, control: $controlItem, form: $form, attrs: $attrs}

                {elseif $renderer->isSubmitButton($controlItem)}

                    {$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}

                {elseif $renderer->isButton($controlItem)}

                    <div class="controls">
						{$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}{$error}{$description}
                    </div>

                {elseif $renderer->isCheckbox($controlItem)}

					{var $label = $renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}
                    <div class="controls" n:tag-if="!$renderer->controlHasClass($controlItem, 'inline')">
                        {$label->startTag()|noescape}{$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}{$renderer->getLabelBody($controlItem)}{$label->endTag()|noescape}{$error}{$description}
                    </div>

                {elseif $renderer->isRadioList($controlItem)}

                    {$renderer::mergeAttrs($form[$name]->getLabel()->addClass("control-label"), $attrs['label'])}

                    <div class="controls">
                        {foreach $renderer->getRadioListItems($controlItem) as $item}

                            {$renderer::mergeAttrs($item->html, $attrs['input'])}
                        {/foreach}{$error}{$description}
                    </div>

                {elseif $renderer->isCheckboxList($controlItem)}

                    {$renderer::mergeAttrs($form[$name]->getLabel()->addClass("control-label"), $attrs['label'])}

                    <div class="controls">
                        {foreach $renderer->getCheckboxListItems($controlItem) as $item}

                            {$renderer::mergeAttrs($item->html, $attrs['input'])}
                        {/foreach}{$error}{$description}
                    </div>

                {else}

                    {$renderer::mergeAttrs($form[$name]->getLabel(), $attrs['label'])}

                    <div class="controls">
                        {var $prepend = $controlItem->getOption('input-prepend'), $append = $controlItem->getOption('input-append')}
                        <div n:class="$prepend? input-prepend, $append? input-append" n:tag-if="$prepend || $append">
                            {$prepend}{$renderer::mergeAttrs($form[$name]->getControl(), $attrs['input'])}{$append}
                        </div>
                        {$error}{$description}
                    </div>

                {/if}
            {if $pairContainer}{$pairContainer->endTag()|noescape}{/if}
{/define}

{if $mode === NULL}
    {include form, form: $form, renderer: $renderer}
{/if}
